* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 50dvw;
  width: 100%;
  margin: 0 auto;
}
header {
  background-color: antiquewhite;
  height: 15dvh;
  display: flex;
  justify-content: center;
}
main {
  background-color: antiquewhite;
  height: 85dvh;
  display: flex;
  justify-content: center;
  padding: 15px;
}